<header class="head">
    <i class="bi bi-house-fill"></i>
        <div>
            <div class="searchBar">
                <i class="bi bi-search"></i>
            </div>
        </div>
        <div>
            <i class="bi bi-postcard-heart"></i>
            <i class="bi bi-person-circle"></i>
        </div>
</header>