<header class="head">
    <i class="bi bi-three-dots-vertical"></i>
    <div class="search">
        <div class="searchLine">
            <p>Cauta</p>
        </div>
        <i class="bi bi-search"></i>
    </div>
    <div>
        <i class="bi bi-heart"></i>
        <i class="bi bi-person-circle"></i>
    </div>
</header>