@using System.Web.Optimization
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}
@Styles.Render("~/Content/css/profile")

<div class="profileBlock">

    <div class="profileImg">

        <img src="../../images/person-circle.svg" />

    </div>
    
    <div class="profileContent">

        <div class="profileName">
            <h1>Name</h1></div>

        <div class="profileTutorLikes">

            <p>Cursuri apreciate</p>

            <div class="profileLineSetings">

            </div>

        </div>
        

        <div class="profileGeneralSettings">

            <p>Setari generale</p>

            <div class="profileLineSetings">

            </div>
        </div>
        
        <div class="contats">
            <p>Cntact Admin</p>
            <div class="social">
                <div class="socialLine">
                    <i class="bi bi-instagram"></i>
                    <a href="https://www.instagram.com/numele_utilizatorului/">Instagramul nostru</a>

                </div>
                <div class="socialLine">
                    <i class="bi bi-facebook"></i>
                    <a href="https://www.instagram.com/numele_utilizatorului/">Facebook-ul nostru</a>

                </div>
                <div class="socialLine">
                    <i class="bi bi-telegram"></i>
                    <a href="https://www.instagram.com/numele_utilizatorului/">Telegramul nostru</a>

                </div>
            </div>
        </div>


    </div>


</div>