@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/login")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<body class="mainPage">


    <main class="registerBlock">
        <div class="registerTitle"><h1>Inregestrare</h1></div>

        <div class="registerContent">
            <div class="textLine"><p>Numele</p></div>
            <div class="infoLine"></div>

            <div class="textLine"><p>Email</p></div>
            <div class="infoLine"></div>

            <div class="textLine"><p>Parola</p></div>
            <div class="infoLine"></div>

            <div class="textLine"><p>RE-Parola</p></div>
            <div class="infoLine"></div>
        </div>

        <div class="ButtonLogin"><button type="button" class="btn btn-secondary " style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 2.75rem;">Intra</button></div>


    </main>

</body>

</html>
