@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ViewBag.Title</title>
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/login")

</head>

<body class="mainPage">


    <main class="loginBlock">
        <div class="logareTitle"><h1>Logare</h1></div>

        <div class="usernamePasword">

            <div class="username"><p>Username</p></div>
            <div class="usernameLine"></div>
            <div class="password"><p>Password</p></div>
            <div class="passwordLine"></div>

        </div>

        <div class="ButtonLogin"><button type="button" class="btn btn-secondary " style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 2.75rem;">Intra</button></div>


    </main>

</body>

</html>