
@{
    ViewBag.Title = "CAN";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<main>
    <div class="mainImg">
        <img src="./images/Rectangle 1.png" />
    </div>
    <div class="startCourses">
        <div class="mainText">
            <h1>Elementele de baza <br> in Counter-strike 2</h1>
        </div>
        <div class="baisicCourses">
            <div class="cours"></div>
            <div class="cours"></div>
            <div class="cours"></div>

        </div>
    </div>
</main>
